<h1>CONTACT ME</h1>
<p>I am graduating December 2020, available for hire January 2020.</p>
<table>
  <tr>
    <th>Email:</th>
    <a href="mailto:jdela1740@gmail.com"><td>jdela1740@gmail.com</td></a>
  </tr>
  <hr>
  <tr>
    <th>LinkedIn:</th>
    <a href="https://www.linkedin.com/in/joeldlc/"><td>joeldlc</td></a>
  </tr>
  <tr>
    <th>Github:</th>
    <a href="http://github.com/joeldlc"><td>joeldlc</td></a>
  </tr>
  <tr>
    <th>Twitter:</th>
    <a href="https://twitter.com/joeldlcp"><td>joeldlcp</td></a>
  </tr>
  <tr>
    <th>Facebook:</th>
    <a href="https://www.facebook.com/joeldlcp"><td>joeldlcp</td></a>
  </tr>
</table>
