<div class="intro">
  <h1>Hi, I'm Joel,</h1>
  <h1>Software Engineer - Specialized in Web Applications.</h1>
  <h3>Welcome to my portfolio website. Pardon the dust; it's a work in progress!</h3>
</div>
<mat-card>
<mat-card-title>About me</mat-card-title>
<mat-card-subtitle>
  Currently - Studying full-time at <a href="https://www.fiu.edu">Florida International University</a>.
  Graduating - December 2019.
  Open for hire - January 2020.
</mat-card-subtitle>
<mat-card-content>
  <ul>
    <li><b>Google Intern</b> - I completed 3 software engineering internships at Google, focusing on web applications!</li>
    <li><b>Competitive Programmer</b> - I'm in FIU's programming team. I compete in teams of 4 against other universities!</li>
    <li><b>Book worm</b> - I read everyday; my favorite genres are software architecture/development and personal growth!</li>
    <li><b>Outdoorsman</b> - I love going camping, hiking, canoeing, and anything in the outdoors!</li>
    <li><b>Gamer</b> - Indie and team-based PC games are my favorite!</li>
  </ul>
</mat-card-content>
</mat-card>
<div>
  <button mat-flat-button (click)="setRoute('RESUME')">Resume</button>
  <button mat-flat-button (click)="setRoute('CONTACT')">Contact Me</button>
</div>
