<mat-sidenav-container class="app-container">
  <mat-sidenav class="app-sidenav" mode="side" opened>
    <div class="avatar-container">
      <img class="avatar" alt="avatar" src="../assets/images/avatar.jpg">
      <h1 class="avatar-title">Joel De La Cruz</h1>
      <h2 class="avatar-subtitle">Software Engineer, Web Applications</h2>
    </div>
    <div class="nav-table">
      <ul>
        <li>Resume</li>
        <li>Contact Me</li>
        <li>Portfolio</li>
        <li>Blog</li>
      </ul>
      <ul class="social-media">
        <i class="fab fa-linkedin fa-3x"></i>
        <i class="fab fa-github-square fa-3x"></i>
        <i class="fab fa-twitter-square fa-3x"></i>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-home></app-home>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
